{% extends 'base_front.html.twig' %}

{% block title %}DTC | Etudiant {% endblock %}

{% block body %}

<main id="main">
	<!-- ======= Breadcrumbs ======= -->
	<section class="breadcrumbs">
		<div class="container">
			<h2>{{ app.user.username }}</h2>
		</div>
	</section><!-- End Breadcrumbs -->
	<section id="counts" class="counts">
		<div class="container" data-item="fade-up">
			<div class="row gy-4">

				<div class="col-lg-3 col-md-6">
					<a href="{{ path('dtc_student_my_formation') }}" class="count-box">
						<i class="bi bi-list-check"></i>
						<div>
							<span data-purecounter-start="0" data-purecounter-end="{{ formations|length }}" data-purecounter-duration="1" class="purecounter"></span>
							<p>Mes formations</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-6">
					<a href="#" class="count-box">
						<i class="bi bi-wallet" style="color: #ee6c20;"></i>
						<div>
							<span data-purecounter-start="0" data-purecounter-end="{{ paiements|length }}" data-purecounter-duration="1" class="purecounter"></span>
							<p>Paiements</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section><!-- End Counts Section -->
</main>
{% endblock %}
