<section id="stats" class="stats section">
	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<div class="row gy-4 justify-content-between">
			<div class="col-lg-3 col-md-4">
				<div class="stats-item d-flex align-items-center w-100 h-100">
					<i class="bi bi-people color-blue flex-shrink-0"></i>
					<div>
						<span data-purecounter-start="0" data-purecounter-end="{{ (100 + students|length) }}" data-purecounter-duration="1" class="purecounter"></span>
						<p>Etudiants</p>
					</div>
				</div>
			</div><!-- End Stats Item -->

			<div class="col-lg-3 col-md-4">
				<div class="stats-item d-flex align-items-center w-100 h-100">
					<i class="bi bi-journal-richtext color-orange flex-shrink-0" style="color: #ee6c20;"></i>
					<div>
						<span data-purecounter-start="0" data-purecounter-end="{{ formations|length }}" data-purecounter-duration="1" class="purecounter"></span>
						<p>Formations</p>
					</div>
				</div>
			</div><!-- End Stats Item -->

			<div class="col-lg-3 col-md-4">
				<div class="stats-item d-flex align-items-center w-100 h-100">
					<i class="bi bi-person-badge color-green flex-shrink-0" style="color: #15be56;"></i>
					<div>
						<span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
						<p>Formateurs</p>
					</div>
				</div>
			</div><!-- End Stats Item -->
		</div>
	</div>
</section><!-- /Stats Section -->
