<!-- Team Section -->
<section id="team" class="team section">
	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<p>Nos formateurs</p>
	</div><!-- End Section Title -->

	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
				<div class="team-member">
					<div class="member-img">
						<img src="{{ asset('img/team/julien.png') }}" class="img-fluid" alt="">
						<div class="social">
							<a href=""><i class="bi bi-twitter-x"></i></a>
							<a href=""><i class="bi bi-facebook"></i></a>
							<a href=""><i class="bi bi-instagram"></i></a>
							<a href=""><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
					<div class="member-info">
						<h4>Rajerison Julien</h4>
						<span>Formateur developpement WEB</span>
						<p>Développeur Web avec plusieurs années d'expérience dans le développement des applications. Formateur et enseignant passionné.</p>
					</div>
				</div>
			</div><!-- End Team Member -->

			<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
				<div class="team-member">
					<div class="member-img">
						<img src="{{ asset('img/team/fredo.jpg') }}" class="img-fluid" alt="">
						<div class="social">
							<a href=""><i class="bi bi-twitter-x"></i></a>
							<a href=""><i class="bi bi-facebook"></i></a>
							<a href=""><i class="bi bi-instagram"></i></a>
							<a href=""><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
					<div class="member-info">
						<h4>Fredo Bezama</h4>
						<span>Formateur UI/UX</span>
						<p>Consultant en UI/UX avec de nombreuses années d'expérience dans le design d'interface utilisateur et l'expérience utilisateur.</p>
					</div>
				</div>
			</div><!-- End Team Member -->

			<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
				<div class="team-member">
					<div class="member-img">
						<img src="{{ asset('img/team/stephan.jpg') }}" class="img-fluid" alt="">
						<div class="social">
							<a href=""><i class="bi bi-twitter-x"></i></a>
							<a href=""><i class="bi bi-facebook"></i></a>
							<a href=""><i class="bi bi-instagram"></i></a>
							<a href=""><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
					<div class="member-info">
						<h4>Stéphan</h4>
						<span>Formateur Mobile</span>
						<p>Expert en développement mobile, formateur en développement d'applications avec Flutter, passionné par le développement web et mobile.</p>
					</div>
				</div>
			</div><!-- End Team Member -->

			<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
				<div class="team-member">
					<div class="member-img">
						<img src="{{ asset('img/team/solofo.png') }}" class="img-fluid" alt="">
						<div class="social">
							<a href=""><i class="bi bi-twitter-x"></i></a>
							<a href=""><i class="bi bi-facebook"></i></a>
							<a href=""><i class="bi bi-instagram"></i></a>
							<a href=""><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
					<div class="member-info">
						<h4>Ralitera Solofo</h4>
						<span>Formateur JavaScript</span>
						<p>Expert dans le domaine de développement informatique SIG/IOT/WEB/Mobile, passionné et impliqué dans des projets open-source.</p>
					</div>
				</div>
			</div><!-- End Team Member -->

		</div>

	</div>

</section><!-- /Team Section -->