{% extends 'admin/_entry_admin.html.twig' %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Création formation</h2>
        </div>

        <div class="card col-md-6">
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary my-3 w-100">Sauvegarder</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}