{% extends 'admin/_entry_admin.html.twig' %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Formations</h2>
            <a href="{{ path('admin_formation_add') }}">Add new formation</a>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}