@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import "./vendor/fontawesome-free/css/all.min.css";
@import "./css/sb-admin-2.min.css";

.bg-login-image {
    background: url('./img/img.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #173c9c;
}

.bg-register-image {
    background: url('./img/img.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #173c9c;
}