@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import "./vendor/fontawesome-free/css/all.min.css";
@import "./css/sb-admin-2.css";

.bg-login-image {
    background: url('./img/img.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #173c9c;
}

.bg-register-image {
    background: url('./img/img.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #173c9c;
}