<footer id="footer" class="footer">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="{{ path('dtc_home_page') }}" class="d-flex align-items-center">
                    <span class="sitename">DTC.MG</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Antananarivo</p>
                    <p>101, Madagascar</p>
                    <p class="mt-3"><strong>Tél:</strong> <span>+261 38 44 569 90</span></p>
                    <p><strong>Mail:</strong> <span><a href="mailto:digitaltrainingcenter.mg@gmail.com" style="font-size: 14px">digitaltrainingcenter.mg@gmail.com</a></span></p>
                </div>
            </div>

            <div class="col-lg-4 footer-links">
                <h4>Nos formations</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Développement WEB</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Développement Mobile</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Devops</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Design UI/UX</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Spécialisation</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h4>Rejoignez-nous</h4>
                <div class="social-links d-flex">
                    <a  href="https://web.facebook.com/digitaltrainingcenter.mg" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/94842439" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>&copy; Copyright <strong><span>Digital Training Center</span></strong>. <script>document.write((new Date()).getFullYear())</script></p>
    </div>
</footer>

