{% extends 'base_front.html.twig' %}

{% block title %}Home|DTC-MG{% endblock %}
{% block body %}
	<section id="hero" class="hero d-flex align-items-center">
		<div class="container">
			<div class="col-lg-6 col-md-6" data-item="fade-up" data-item-delay="200">
				<div class="service-box blue">
					<h2>Action impossible !</h2>
					<p>
						Cette action est impossible pour le moment. Vous devez demander à l'administrateur de réinitialiser votre mot de passe.
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
