@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
ul{
    display: flex;
}
body{
    height: 774px;
    background-color: #e6e4e4;
}
main{
    height: 774px;
    background-color: #e6e4e4;
}
.left-nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.nav-logo{
    display: flex;
    gap: 42px;
}
.profile{
    gap: 12px;
}
.corps{
    gap: 40px;
}
.body{
    height: auto;
    background-color: white;
}
.add{
    width: 124px;
    height: 124px;
}

.vague{
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #292F36;
}
.type{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #173B99;
}
.type2{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #E57B23;
}
.text{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #292F36;
}
#header{
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #173B99;
}
label{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #292F36;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bout{
    width: auto;
    height: 47px;
    border-radius: 8px;
    background-color: #173B99;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    gap: 10px;
    pad: 10px;
}
.input{
    width: 385px;
    height: 61px;
    border-radius: 8px;
    padding: 20px, 14px, 20px, 14px;
    gap: 10px;
    border: 0.5px solid black;
}
@media only screen and (max-width:991px){
    body{
        height: 100%;
    }
    main{
        height: 100%;
        padding-bottom: 30px;
    }
}