@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
:root {
    --primary: #173B99;
    --secondary: #E57B23;
    --font-size1: 16px;
    --font-family: Righteous;
    --font-size2: 72px;
    --font-weight: 400;
    --line-height: 89.4px;
    --text-align: center;
  }
  main{
    width: 100%;
  }
  .jum{
    padding: 40px;
  }
  .text{
    width: 100%;
  }
  header{
    background-color: #f6f6f6;
  }
  .tete{
    display: flex;
    flex-direction: column;
  }
  #header-img{
    width: 100%;
  }
  .header-title{
    width: 550px;
  }
  .header-title h1{
    font-size: 72px;
    font-weight: 400;
    line-height: 89.4px;
    font-family: var(--font-family);
  }
  .header-title span{
    color: var(--secondary);
  }

body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;

}
.title1{
    color: var(--primary);
}
nav{
    width: 100%;
}

.flag-fr{
    width: 30px;
    height: 20px;
}
.bout{
    background-color: #173B99;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #ffffff;
}
.bout:hover{
    background-color: #173B99;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #ffffff;
}
.module{
    width: 80%;
    border-radius: 12px;
    box-shadow:  1px 1px 10px rgb(206, 205, 205);
}
.header-img{
    width: 450px;
    height: 350px;
}
.prf{
    width:300px;
}
.name{
    font-family: "Poppins",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #E57B23;
}
.cret{
    width: 600px;
}
.prof{
    margin-top: 10px;
    width: 110px;
    height: 110px;
}
.Professeurs{
    background-color: #f6f6f6;
    padding: 20px;
}
.article{
    background-color: #f6f6f6;
}
.texte{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.entête{
    font-family: "Righteous";
    font-size: 42px;
    line-height: 52.15px;
    font-weight: 400;
    color: #173B99;
}
.phrase{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}
.letfoot{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.foot{
    background-color: #E57B23;
}
.title{
    font-family: "Poppins",sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #173B99;
}
.card-body{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 0px 0px 12px 12px;
}
.insrc{
    background-color: #E57B23;
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    width: 118px;
}
.text-pro{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color:#292F36;
}
#triland{
    position: relative;
    left: 70px;
    bottom: 20px;
}
.insrc:hover{
    background-color: #E57B23;
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
}
.ste{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #292F36;
}

.spec{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #292F36;
}
.ap{
    font-family:  "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #E57B23;
}
.pro{
    text-align: start;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #292F36;
}
@media only screen and (max-width:990px){
    header{
        display: flex;
        flex-direction: column;
    }
    .header-img{
        width: 100%;
    }
    .header-title{
        width: 100%;
    }
    .section{
        display: flex;
        flex-direction: column;
    }
    .article{
        display: flex;
        flex-direction: column;
    }
    .header-title h1{
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        font-family: var(--font-family);
      }
    .cret{
        width: 100%;
    }
    .mat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    .cont{
        display: flex;
        justify-content: center;
    }
    .prf{
        width:100%;
    }
    #triland{
        width: 30px;
        height: 20px;
        position: relative;
        left: 40px;
        bottom: 10px;
    }
    .module{
        width: 100%;
    }
    .profil{
        gap: 30px;
    }
    .mod{
        width: 100%;
    }
    .jum{
        padding: 0px;
    }
    .fot{
        gap: 10px;
    }
    .flag-fr{
        width: 25px;
    }
    .contact{
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
    #logo{
        width: 140px;
    }
    .bout{
        width: 90px;
        height:30px;
        font-size: 16px;
        line-height: 0px;
    }
}
