body{
    height: 100dvh;
    background-color: #f6f6f6;
}
#image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
ul{
    display: flex;
}
.left-nav{
    display:flex;
    flex-direction: row;
    align-items: center;
}
#gen{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #292F36;
}