@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import "../theme/vendor/aos/aos.css";
@import "../theme/vendor/bootstrap/css/bootstrap.min.css";
@import "../theme/vendor/bootstrap-icons/bootstrap-icons.css";
@import "../theme/vendor/glightbox/css/glightbox.min.css";
@import "../theme/vendor/remixicon/remixicon.css";
@import "../theme/vendor/swiper/swiper-bundle.min.css";
@import "../theme/css/style.css";

.user-info {
    background: #e67b24;
    color: black!important;
    font-size: 12px!important;
    border-radius: 8px;
    padding: 10px!important;
    margin-left: 10px;
}