<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}DTC ADMIN{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/Favicon/DTC-Favicon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('bo_page') }}
    {% endblock %}
    {% if pagination is defined and pagination is not null %}
        {{ knp_pagination_rel_links(pagination) }}
    {% endif %}
</head>
{% block body %} {% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bo_page') }}
{% endblock %}
</html>