{% extends 'admin/_entry_admin.html.twig' %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <h2>Formations</h2>

    </div>
    <!-- /.container-fluid -->
{% endblock %}