{% extends 'admin/_entry_admin.html.twig' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{{ path('admin_formation_list') }}" class="text-decoration-none card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Formations</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ formations|length }}</div>
                        </div>
                        <div class="col-auto"></div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{{ path('admin_user_list') }}" class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Etudiants</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ students|length }}</div>
                        </div>
                        <div class="col-auto"></div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}